/* CUSTOM THEME */
:root {
    --color: #027fff;
}

body{
    font-size:13px;
}

table {
    font-size:13px;
}

table td{
    white-space: normal;
}

.table-bordered td,
.table-bordered th{
    text-align: center;
    vertical-align: middle;
}

.main-body .page-wrapper{
    padding:10px;
}

.btn{
    padding: 6px 12px;
    text-transform: unset;
}

.btn i.icon-upload-cloud{
    font-size:20px;
    margin-right:0;
}

.bg-primary{
    padding: 7px 10px;
}

.alert{
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
}

.main-body .page-wrapper .page-header{
    margin-bottom: 10px;
}

.table-custom tr th{
    background: #00a9ac;
    color: #fff;
    border-bottom:0;
    font-weight:400;
}

.switchery-default{
    zoom: 0.6;
}

.btn{
    border-radius: 7px;
    margin-right: 5px;
}

.bg-primary{
    background-color: var(--color) !important;
}

.btn-primary, .wizard>.actions a, .sweet-alert button.confirm{
    background-color: var(--color);
    border-color: var(--color);
}

.btn-primary:active, .wizard>.actions a:active, .sweet-alert button.confirm:active{
    background-color: var(--color) !important;
    border-color: var(--color);
    opacity: 0.7;
}

.btn-primary:hover, .wizard>.actions a:hover, .sweet-alert button.confirm:hover{
    background-color: var(--color) !important;
    border-color: var(--color);
    opacity: 0.7;
}

.btn-primary:focus, .wizard>.actions a:focus, .sweet-alert button.confirm:focus{
    background-color: var(--color) !important;
    border-color: var(--color);
    opacity: 0.7;
}

.page-item.active .page-link{
    background-color: var(--color);
    border-color: var(--color);
}

.main-body .page-wrapper .page-header-breadcrumb{
    float: left;
}

.btn i{
    margin: 0;
}

.pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon{
    padding: 0;
}

.label-primary{
    background: linear-gradient(to right, var(--color),  var(--color));
}

.nowrap{
    white-space: nowrap;
}

.w100{
    width: 100% !important;
}

.panels-wells .panel-primary{
    border-color: var(--color);
}

.form-control{
    border-radius: 6px;
}

.form-control:focus{
    border-color: var(--color);
}

.breadcrumb-title a{
    color: #004d9c;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    background-color: var(--color);
    padding: 4px 15px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: var(--color);
}

.select2-container--default .select2-search__field:focus{
    border: 1px solid var(--color);
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
    right: 8px;
}

.hidden{
    display: none;
}

.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move{
    border-radius: 8px;
}

.brighttheme.ui-pnotify-container{
    padding: 15px;
    border-radius: 8px;
}

.brighttheme .ui-pnotify-title{
    margin-bottom: 0;
}

.ui-pnotify-icon{
    margin-top: 5px;
    margin-right: 5px;
}

/* END CUSTOM THEME */