/* CUSTOM THEME */
:root {
    --primary: #027fff;
    --success: #009c66;
}

body{
    font-size:13px;
}

table {
    font-size:13px;
}

table td{
    white-space: normal;
}

.table-bordered td,
.table-bordered th{
    text-align: center;
    vertical-align: middle;
}

.main-body .page-wrapper{
    padding:10px;
}

.btn{
    padding: 6px 12px;
    text-transform: unset;
}

.btn i.icon-upload-cloud{
    font-size:20px;
    margin-right:0;
}

.bg-primary{
    padding: 7px 10px;
}

.alert{
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
}

.main-body .page-wrapper .page-header{
    margin-bottom: 10px;
}

.table-custom tr th{
    background: #00a9ac;
    color: #fff;
    border-bottom:0;
    font-weight:400;
}

.switchery-default{
    zoom: 0.6;
}

.btn{
    border-radius: 7px;
    margin-right: 5px;
}

.bg-success{
    background-color: var(--success) !important;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.btn-primary, .wizard>.actions a, .sweet-alert button.confirm{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:active, .wizard>.actions a:active, .sweet-alert button.confirm:active{
    background-color: var(--primary) !important;
    border-color: var(--primary);
    opacity: 0.7;
}

.btn-primary:hover, .wizard>.actions a:hover, .sweet-alert button.confirm:hover{
    background-color: var(--primary) !important;
    border-color: var(--primary);
    opacity: 0.7;
}

.btn-primary:focus, .wizard>.actions a:focus, .sweet-alert button.confirm:focus{
    background-color: var(--primary) !important;
    border-color: var(--primary);
    opacity: 0.7;
}

.page-item.active .page-link{
    background-color: var(--primary);
    border-color: var(--primary);
}

.main-body .page-wrapper .page-header-breadcrumb{
    float: left;
}

.btn i{
    margin: 0;
}

.pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon{
    padding: 0;
}

.label-primary{
    background: linear-gradient(to right, var(--primary),  var(--primary));
}

.nowrap{
    white-space: nowrap;
}

.w100{
    width: 100% !important;
}

.panels-wells .panel-primary{
    border-color: var(--primary);
}

.form-control{
    border-radius: 6px;
}

.form-control:focus{
    border-color: var(--primary);
}

.breadcrumb-title a{
    color: #004d9c;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    background-color: var(--primary);
    padding: 4px 15px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: var(--primary);
}

.select2-container--default .select2-search__field:focus{
    border: 1px solid var(--primary);
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
    right: 8px;
}

.hidden{
    display: none;
}

.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move{
    border-radius: 8px;
}

.brighttheme.ui-pnotify-container{
    padding: 15px;
    border-radius: 8px;
}

.brighttheme .ui-pnotify-title{
    margin-bottom: 0;
}

.ui-pnotify-icon{
    margin-top: 5px;
    margin-right: 5px;
}

.pull-right{
    float:right !important;
}

.modal.modal-info .modal-content{
    border-radius: 7px;
    border: 0;
}

.modal.modal-info .modal-header{
    background-color: #22a7f0;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.prevent-event{
    pointer-events: none;
    opacity: 0.6;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li{
    padding: 10px 10px !important;
}

.navbar-wrapper .navbar-logo{
    position: relative;
}

.navbar-wrapper .navbar-logo:before{
    content: "";
    background: rgb(30,29,37);
    background: linear-gradient(324deg, rgba(30,29,37,1) 0%, rgba(9,81,121,1) 67%, rgba(0,212,255,1) 93%);
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.md-tabs .nav-item .nav-link{
    text-transform: capitalize;
}

.md-tabs .nav-item.open .nav-link, .md-tabs .nav-item.open .nav-link:focus, .md-tabs .nav-item.open .nav-link:hover, .md-tabs .nav-link.active, .md-tabs .nav-link.active:focus, .md-tabs .nav-link.active:hover{
    color: var(--primary);
    border-bottom: 5px solid var(--primary);
}

.theme-loader {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 999999;
    top: 0;
  }
  
  .theme-loader .ball-scale {
    left: 50%;
    top: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
  }
  
  .theme-loader .ball-scale .contain {
    height: 100%;
    width: 100%;
  }
  
  .theme-loader .ball-scale .contain img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    -webkit-animation: round-rotate 1s ease-in-out infinite;
            animation: round-rotate 1s ease-in-out infinite;
  }
  
  @-webkit-keyframes round-rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes round-rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
.pointer-move{
    cursor: move;
}

.nav-tabs .nav-item{
    background: #fff;
}

.md-tabs .nav-item a{
    padding: 15px 0!important;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a .pcoded-micon{
    display: inline-block;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu[subitem-icon="style1"] .pcoded-submenu li>a .pcoded-mtext:before{
    display: none;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item[item-border="true"][item-border-style="none"] li>a{
    padding: 10px 15px;
    font-size: 15px;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item li.pcoded-hasmenu>a:after{
    top: 8px;
}

.pcoded .pcoded-navbar .pcoded-item{
    padding-top: 10px;
    border-top: 5px solid var(--primary);
}

.pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a{
    z-index: 1;
}

.header-navbar .navbar-wrapper .navbar-logo{
    text-transform: unset;
}

/* END CUSTOM THEME */