.post-lists{

}

.post-lists .post-item{
    margin: 25px 0;
    padding: 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    border-radius: 5px;
}

.post-lists .post-item .cat-name{
    text-align: center;
}

.post-lists .post-item .cat-name a{
    color: var(--primary)
}

.post-lists .post-item h2.post-name{
    text-align: center;
    text-transform: capitalize;
    font-size: 27px;
}

.post-lists .post-item h2.post-name a{
    color: #333; 
}

.post-lists .post-item h2.post-name a:hover{
    color: var(--primary)
}

.post-lists .post-item .post-tagline{
    text-align: center;
    margin-bottom: 15px;
}

.post-lists .post-item .post-content{
    display: flex;
}

.post-lists .post-item .post-content .image{
    background-size: cover;
    width: 350px;
    min-width: 350px;
    height: 196.88px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 7px;
}

.post-lists .post-item .post-content .body{
    font-size: 16px;
    text-align: justify;
}

.siderbar.posts .siderbar-content .item{
    margin-bottom: 20px;
}

.siderbar.posts .siderbar-content .item .image{
    background-size: cover;
    padding-top: 56.25%;
    border-radius: 5px;
}

.siderbar.posts .siderbar-content .item .content{
    margin-top: 10px;
}

.siderbar.posts .siderbar-content .item a{
    font-size: 17px;
    color: #333;
}

.siderbar.posts .siderbar-content .item a:hover{
    color: var(--primary);
}