.checkout-wrapper{
    margin-bottom: 50px;
}

.checkout-wrapper .section-title{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 25px;
    border-left: 5px solid var(--primary);
    background: #f1f1f1;
}

.checkout-cart-content .title{
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
}

.checkout-cart-content .title .item{
    padding: 10px;
    font-weight: 600;
}

.checkout-cart-content .content .line{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
}

.checkout-cart-content .content .line .image{
    width: 40%;
    display: flex;
    align-items: center;
}

.checkout-cart-content .content .line .price{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-cart-content .content .line .qty{
    display: flex;
    justify-content: start;
    width: 135px;
    margin-left: 10px;
}

.checkout-cart-content .content .line .subtotal{
    display: flex;
    align-items: center;
    text-align: right;
    font-weight: 600;
    margin-left: 15px;
}

.checkout-cart-content .content .line .item{
    padding: 10px 0;
}

.remove-cart-item{
    cursor: pointer;
}

.thanks-page{
    padding: 50px;
}

.thanks-page .thanks-wrapper{
    padding: 100px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    text-align: center;
}

.thanks-page .thanks-wrapper .title{
    margin-bottom: 20px;
    color: var(--primary);
}

.thanks-page .thanks-wrapper .title .icon i{
    font-size: 50px;
    color:green
}

@media screen and (max-width:768px) {
    .checkout-cart-content .title{
        display: none;
    }

    .checkout-cart-content .content .line{
        flex-wrap: wrap;
    }

    .checkout-cart-content .content .line .image{
        width: 60%;
    }

    .thanks-page{
        padding: 30px 0;
    }

    .thanks-page .thanks-wrapper{
        padding: 20px;
    }
}