:root {
    --primary: #4d60a5;
    --yellow: #ffdd00;
}

/*MIN*/

@media screen and (min-width:768px) {
	
}

@media screen and (min-width:769px) {
	
}

@media screen and (min-width:1023px) {
	.icon-menu-mobile{
		display: none !important;
	}
}

@media screen and (min-width:1024px) {
	
}
@media screen and (min-width: 1200px){
	.nav-menu .main-menu ul > li:hover .sub-menu {
		opacity: 1;
		visibility: visible;
	}
}

@media screen and (min-width:1280px){

}

@media screen and (min-width:1440px){
	
}

@media screen and (min-width:1600px){
	
}

@media screen and (min-width:1920px) {
	
}

/*/////////////////////////////////////////////////////////////////////*/
/*MAX*/

@media screen and (max-width:375px) {

}

/* Iphone 7 plus, 8 plus */
@media screen and (max-width:410px){

}


@media screen and (max-width:415px) {
   
}

/*IPAD & MOBILE*/
@media screen and (max-width:768px) {

	.hidden-mb{
		display: none !important;
	}

	header{
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px
	}

	/* MENU */

    .nav-menu .main-menu{
        position: fixed;
		left: -100%;
		top: 0;
		width: 70%;
		height: 100vh;
		background: var(--primary);
		transition: all .5s ease 0s;
		z-index: 99999;
    }

	.nav-menu .main-menu > ul{
		flex-direction: column;
		padding: 0;
		margin-top: 20px;
		border-top: 1px solid #6374b4;
	}

	.nav-menu .main-menu > ul > li{
		border-bottom: 1px solid #6374b4;
	}

	.nav-menu .main-menu > ul > li a{
		padding: 15px;
		text-transform: uppercase;
	}

	.main-menu .search{
		width: 90%;
		margin: 0 auto;
		margin-top: 15px;
	}

	.main-menu .search input{
		background-color: #fff;
	}

	.logo-menu{
		width: 70%;
		margin: 0 auto;
	}

	.main-menu.menu-mobile{
		left: 0;
	}

	.nav-menu .main-menu.menu-mobile ul > li > ul.sub-menu{
		position: relative;
		top: 0;
		display: none;
	}

	.nav-menu .menu-mobile > ul > li a{
		display: flex;
		justify-content: space-between;
	}

	.nav-menu .menu-mobile > ul > li a i{
		font-size: 20px;
	}

	/* END MENU */

	.mt-mb-2{
		margin-top: 10px;
	}

	.mt-mb-3{
		margin-top: 15px;
	}

	.mt-mb-4{
		margin-top: 20px;
	}

	.mt-mb-5{
		margin-top: 25px;
	}

	.main-banner .content-wrap{
		flex-direction: column-reverse;
	}
	
	.main-banner .content-wrap .left{
		margin-top: 15px;
	}

	.main-banner .content-wrap .left .content{
		padding: 0 15px;
		text-align: center;
	}

	.add-cart-product-temp{
		width: 100%;
		font-size: 12px;
		white-space: nowrap;
	}

	.border-section .content{
		padding: 5px;
	}

	.product-item .product-info{
		padding: 5px;
	}

	.product-price{
		text-align: center;
	}

	.section-solution .content .info h4{
		text-align: center;
	}

	.news-wrapper{
		width: 100%;
	}

	.news-wrapper .top-news{
		padding: 15px;
		padding-bottom: 30px;
	}

	.news-wrapper .item{
		flex-direction: column-reverse;
	}

	.section-news .news-wrapper .news-img{
		margin: 0;
	}

	.news-wrapper .top-news .news-info{
		padding: 0;
		margin-top: 15px;
	}

	.bottom-news .bottom-news-item{
		margin-top: 15px;
	}

	.section-benefit .section-title h3,
	.section-customer .section-title h3{
		font-size: 1.35rem;
	}

	.contact-home-block .item{
		flex-direction: column;
		text-align: center;
	}

	.contact-home-block .item .image{
		margin: 0 auto;
	}

	.contact-home-block .item .info{
		margin-top: 10px;
	}

	.cusomter-slider .item .info{
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
}

/* END 768*/

@media screen and (max-width:767px) {
	
}

@media screen and(max-width: 991px){
	
}

@media (max-width: 1199.98px) {
	.icon-menu-mobile{
		margin-left: 25px;
	}

	.icon-menu-mobile i{
		font-size: 35px;
		color: var(--primary);
	}

	.cart-header i{
		font-size: 25px;
	}
}

@media screen and (max-width:1366px) {
	
}

@media screen and (max-width:1440px) {
	
}


/*PC 1366*/
@media screen and (min-width:1000px) and (max-width:1500px) {
    	
}

/*Ipad 1024*/
@media screen and (min-width:992px) and (max-width:1199px) {
	
}

/*END Ipad 1024*/

@media screen and (max-width:991px) and (min-width:768px) {
    
}

/*Ipad 768*/
@media screen and (max-width:768px) and (min-width: 767.5px) {
	
}

@media (min-height: 600px) and (max-width: 375px) {

}

